@import '~app/assets/stylus'


.imageWrapper
  position: relative

.headingGroup
  position: absolute
  width: 100%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  propertyPadding('padding')
  color: $backgroundColor
  text-align: center
  text-shadow: 1px 1px 12px $textColor

.category
  font-size: 36px

.direction
  font-size: 24px
  margin-top: 12px
