@import '~app/assets/stylus'


.error
  background: rgba($errorColor, 0.5)
  color: $errorTextColor
  border: 1px solid $errorTextColor
  border-radius: 4px
  padding: 8px
  margin-bottom: 8px

.forgot
  margin-bottom: 8px
  text-align: right
