@import '~app/assets/stylus'


.list
  .horizontal &
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    height: 100%

.vertical
  &:not(:last-child)
    propertyGutter('margin-bottom')

.item
  .horizontal &
    display: block
    propertyGutter('margin-left')

    &:first-child
      display: none

  .vertical &
    display: list-item

    &:not(:last-child)
      propertyGutter('margin-bottom')

.link
  text-decoration: none
  color: $backgroundColor
  transition: color 250ms ease-in-out

  &:hover
    color: $linkHoverColor
