@import '~app/assets/stylus'


.root
  background: $themeColor

.column
  composes: column from 'app/assets/stylus/common.styl'

.navBar
  position: relative
  display: flex
  flex-direction: row
  height: 60px
  font-size: 20px

.nav
  flex: 1

  +upTo($med)
    display: none

.aside
  position: fixed
  z-index: $zIndexSidebar
  top: 0
  left: 0
  width: 250px
  height: 100%
  padding: 8px
  background: $textColor
  color: $backgroundColor
  display: flex
  flex-direction: column
  transform: translateX(0%)
  transition: transform 250ms ease-in-out

.close
  cursor: pointer
  display: block
  text-align: right

.checkbox
  display: none

.checkbox:not(:checked) + .aside
  transform: translateX(-100%)

.hamburger
  cursor: pointer
  z-index: $zIndexHamburger

  margin: auto $minGutter auto 0

  +from($sml)
    margin-right: $smlGutter

  +from($med)
    margin-right: $medGutter

  +from($lge)
    margin-right: $lgeGutter

  +from($xlg)
    margin-right: $xlgGutter

+from($med)
  .aside
  .hamburger
    display: none

.heading
.tagline
  display: block

.sticky
  background: $highlightColor
  color: $backgroundColor
  transition: background 250ms ease-in-out

.isSticky
  background: rgba($highlightColor, 0.95)

.siteName
  & .isSticky
    color: $backgroundColor

  font-size: 28px
  font-weight: 600
  display: flex

  +upTo($med)
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.siteLink
  text-decoration: none

  margin: auto 0

  +upTo($med)
    margin-left: auto
    margin-right: auto

.helps
  color: $helpsColor

.bookingSystem
  color: $detailColor
  font-weight: 500

  +upTo($sml)
    display: none
