@import '~app/assets/stylus'


.data
  composes: data from 'app/components/WorkshopsList/Workshop/styles.styl'

.values
  composes: values from 'app/components/WorkshopsList/Workshop/styles.styl'

.disclaimer
  color: $detailColor
  text-align: justify
  margin-bottom: 16px
