@import '~app/assets/stylus'


.root
  display: flex
  min-height: 100vh
  flex-direction: column

.profileContainer
  +upTo($med)
    display: none

  background: $themeColor
  color: $backgroundColor
  propertyPadding('padding-top')
  propertyPadding('padding-bottom')

.profileWrapper
  composes: column from 'app/assets/stylus/common.styl'

.main
  composes: column from 'app/assets/stylus/common.styl'
  background: $backgroundColor
  flex: 1 1 auto

  propertyPadding('padding-top')
  propertyPadding('padding-bottom')
