@import '~app/assets/stylus'


.root
  margin: 0 auto
  max-width: $sml

  h1
    font-size: 32px
    margin-bottom: 16px

  input:not([type="hidden"])
    display: block
    width: 100%

  input
    -webkit-appearance: none

  label
    margin-bottom: 4px
    font-weight: 600

  input:not([type="hidden"])
    &:not(:last-child)
      margin-bottom: 8px

    &[type="text"]
    &[type="password"]
    &[type="email"]
    &[type="tel"]
      font-size: 22px
      padding: 8px
      border: 1px solid $detailColor
      border-radius: 4px

      &:disabled
        background: $disabledColor

    &[type="submit"]
    &[type="reset"]
    &[type="button"]
      cursor: pointer
      text-align: center
      font-size: 22px
      padding: 8px
      border-radius: 4px
      text-transform: uppercase
      letter-spacing: 2px
      font-weight: 500
      background: $themeColor
      transition: background 250ms ease-in-out
      color: $backgroundColor
      text-shadow: 0 -1px 0 rgba($_black, 0.3);
      border: 1px solid $highlightColor

      &:hover
        background: $highlightColor
